@import (multiple) '../../site/globals/site.variables';


.ui.sgcard {
  width: 265px;
  border: 1px solid #edf2f5;
  border-radius: @containerBorderRadius;
  padding: 20px;
  position: relative;
  background: white;
  
}

.ui.selectable.sgcard {

  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.07);
  }
}

/********************
   .ui.class.sgcard>.clase.icon
*********************/
.ui.sgcard>.close.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: @containerBorderRadius;
  color: @fontGrayColor;
}

/********************
   .ui.class.sgcard/.ui..booking.sgavatar> .group.content
*********************/
// .ui.class.sgcard,
// .ui.booking.sgcard {
//   display: flex;
//   justify-content: flex-start;
// }

.ui.class.sgcard>.group.content,
.ui.booking.sgcard>.group.content {
  position: absolute;
  left: 70px;
  top: 19px;
  // margin-left: 12px;
}


/********************
   .group.conteent>header
*********************/
.ui.class.sgcard>.group.content>.header,
.ui.booking.sgcard>.group.content>.header {
  font-size: @fontTitleSize3;
  color: @fontTitleColor;
  font-weight: bold;
}

.ui.booking.sgcard>.group.content>.description {
  width: 140px;
  display: flex;
  justify-content: space-between;
  font-size: @fontCaptionSize;
  color: @fontGrayColor;
}

/********************
   .ui.number.sglabel
*********************/

.ui.number.sglabel {
  width: 35px;
  position: relative;
  line-height: 14px;
  font-size: @fontFooterSize;
  color: @fontGrayColor ;
  margin-top: 6px;
}

.ui.number.sglabel:after {
  width: 17px;
  content: "\f007";
  font-family: @iconFont;
  float: left;
}


/**********************************
        .ui.child.sgcard
***********************************/

.ui.class.sglabel {
  width: 64px;
  height: 24px;
  background: @warningColor;
  border-radius: @componentBorderRadius;
  font-size: @fontCaptionSize;
  color: white;
  line-height: 24px;
  text-align: center;
}

.ui.child.sgcard {
  padding: 0px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.ui.sgavatar {
  width: 64px;
  height: 64px;
  margin-left: -8px;
}

.ui.child.sgcard>.content {
  margin: 40px 55px 20px 35px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content>.header {
  margin-bottom: 6px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content>.description {
  position: absolute;
  left: 55px;
  top: 0px;
  font-size: @fontCaptionSize;
  color: @fontGrayColor;
}

.ui.child.sgcard>.description {
  font-size: @fontCaptionSize;
  color: @fontGrayColor;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ui.child.sgcard>p {
  width: 100%;
  height: 84px;
  font-size: @fontCaptionSize;
  text-align: center;
  line-height: 84px;
  background: @dividedColor;
  border-top: 1px solid #E8E8E8;
  border-bottom-right-radius: @containerBorderRadius;
  border-bottom-left-radius: @containerBorderRadius;
  color: @fontGrayColor;
}



/**********************************
        .ui.year.sgcard
***********************************/
.ui.year.sgcard {
  padding: 0px;
}

.ui.year.sgcard > a {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 32px;
  color: @fontGrayColor;
  text-align: center;
  line-height: 32px;
}

.ui.year.sgcard>.content>.ui.sgavatar {
  width: 64px;
  height: 64px;
}

.ui.year.sgcard>.content {
  width: 64px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.ui.year.sgcard>.content>.ui.literal.sgavatar {
  font-size: 34px;
  text-align: center;
  line-height: 64px;
  margin-bottom: 10px;
}

.ui.year.sgcard>.content>.header {
  color: @fontTitleColor ;
  margin-bottom: 30px;
}

.ui.year.sgcard>.ui.horizontal.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 15px;

}

.ui.year.sgcard>.ui.horizontal.list>.item {
  font-size: 20px;
  color: @fontTitleColor ;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ui.year.sgcard>.ui.horizontal.list>.item>.header {
  font-size: 20px;
  color: @fontTitleColor;
}

.ui.year.sgcard>.ui.horizontal.list>.item>.description {
  font-size: @fontFooterSize;
  color: @fontGrayColor;
}




/************************
        layout
*************************/

.ui.cards.segment {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: transparent;
  padding: 0px;
  margin: 0px;
}

.ui.cards.segment>.ui.sgcard {
  margin-right: 20px;
  margin-top: 20px;
}
