@import (multiple) '../../site/globals/site.variables';

/********************
   .ui.class.sgcard
*********************/
.ui.sgcard {
  width: 265px;
  border: 1px solid rgba(52, 57, 61, 0.11);
  border-radius: @containerBorderRadius;
  padding: 20px;
  box-shadow: 0px 8px 7px rgba(52, 57, 61, 0.11);
  position: relative;
  background: white;
}

/********************
   .ui.class.sgcard>.clase.icon
*********************/
.ui.sgcard>.close.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: @containerBorderRadius;
  color: @fontGrayColor;
}

/********************
   .ui.literal.sgavatar
*********************/
.ui.literal.sgavatar {
  font-size: @fontLiteralSize;
}

/********************
   .ui.literal.sgavatar/color
*********************/
.ui.literal.teal.sgavatar {
  background: @primaryColor;
}

.ui.literal.yellow.sgavatar {
  background: @warningColor;
}

.ui.literal.green.sgavatar {
  background: @greenColor;
}

.ui.literal.blue.sgavatar {
  background: @blueColor;
}

.ui.literal.orange.sgavatar {
  background: @pinkColor;
}

/********************
   .group.content
*********************/
.ui.class.sgcard>.group.content {
  position: absolute;
  left: 84px;
  top: 25px;
}


/********************
   .group.conteent>header
*********************/
.ui.class.sgcard>.group.content>.header {
  font-size: 18px;
  color: @fontTitleColor;
  font-family: @sgcardHeaderFont;
}


/********************
   .ui.sglabel
*********************/

.ui.number.sglabel {
  width: 35px;
  height: 14px;
  position: relative;
  line-height: 14px;
  font-size: @fontSglabelSize;
  color: @fontGrayColor ;
  margin-top: 6px;
}

.ui.number.sglabel:after {
  width: 17px;
  content: "\f007";
  font-family: @iconFont;
  float: left;
}

.ui.field {
  margin: auto;
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // background: palegreen;
}

.ui.field>.cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/********************
   six sgcards
*********************/
.ui.field>.six.cols {
  width: 100%;
}

.ui.field>.six.cols>.ui.sgcard {
  width: calc((100% - 100px)/6);
}

// .ui.field>.six.cols>.ui.sgcard:first-child {
//   margin-left: 0;
// }

// .ui.field>.six.cols>.ui.sgcard:last-child {
//   margin-right: 0;
// }

/********************
   five sgcards
*********************/
.ui.field>.five.cols {
  width: 100%;
}

.ui.field>.five.cols>.ui.sgcard {
  width: calc((100% - 80px)/5);
}

// .ui.field>.five.cols>.ui.class.sgcard:first-child {
//   margin-left: 0;
// }

// .ui.field>.five.cols>.ui.class.sgcard:last-child {
//   margin-right: 0;
// }

/********************
   four sgcards
*********************/
.ui.field>.four.cols {
  width: 100%;
}

.ui.field>.four.cols>.ui.sgcard {
  width: calc((100% - 60px)/4);
}

// .ui.field>.four.cols>.ui.class.sgcard:first-child {
//   margin-left: 0;
// }

// .ui.field>.four.cols>.ui.class.sgcard:last-child {
//   margin-right: 0;
// }


/********************
   three sgcards
*********************/
.ui.field>.three.cols {
  width: 100%;
}

.ui.field>.three.cols>.ui.sgcard {
  width: calc((100% - 40px)/3);
}

// .ui.field>.three.cols>.ui.class.sgcard:first-child {
//   margin-left: 0;
// }

// .ui.field>.three.cols>.ui.class.sgcard:last-child {
//   margin-right: 0;
// }

/********************
   two sgcards
*********************/
.ui.field>.two.cols {
  width: 100%;
}

.ui.field>.two.cols>.ui.sgcard {
  width: calc((100% - 20px)/2);
}

// .ui.field>.two.cols>.ui.sgcard:first-child {
//   margin-left: 0;
// }


/**********************************
        .ui.child.sgcard
***********************************/

.ui.class.sglabel {
  width: 64px;
  height: 24px;
  background: #ffbd00;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-family: PingFang-SC-Regular;
  line-height: 24px;
  text-align: center;
}

.ui.child.sgcard {
  padding: 0px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.ui.female.sgavatar {
  width: 64px;
  height: 64px;
}

.ui.child.sgcard>.content {
  margin: 40px 48px 20px 24px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content>.header {
  margin-bottom: 6px;
  font-family: PingFang-SC-Regular;
}

.ui.child.sgcard>.content>.ui.grid>.column>.content>.description {
  position: absolute;
  left: 55px;
  top: 0px;
  font-size: 14px;
  color: #9199a3;
  font-family: PingFang-SC-Regular;
}

.ui.child.sgcard>.description {
  font-size: 14px;
  color: #9199a3;
  text-align: center;
  font-family: PingFang-SC-Regular;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ui.child.sgcard>p {
  width: 100%;
  height: 84px;
  font-size: 14px;
  text-align: center;
  line-height: 84px;
  background: #edf2f5;
  border-top: 1px solid #E8E8E8;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #9199a3;
}



/**********************************
        .ui.year.sgcard
***********************************/
.ui.year.sgcard {
  padding: 0px;
}

.ui.year.sgcard>.content>.ui.sgavatar {
  width: 64px;
  height: 64px;
}

.ui.year.sgcard>.content {
  width: 64px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.ui.year.sgcard>.content>.ui.literal.sgavatar {
  font-size: 34px;
  text-align: center;
  line-height: 64px;
  margin-bottom: 10px;
}

.ui.year.sgcard>.content>.header {
  color: #4b525a;
  font-family: PingFang-SC-Medium;
  margin-bottom: 30px;
}

.ui.year.sgcard>.ui.horizontal.list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 15px;

}

.ui.year.sgcard>.ui.horizontal.list>.item {
  font-size: 20px;
  color: #4b525a;
  font-family: Avenir-Heavy;
  text-align: center;
}

.ui.year.sgcard>.ui.horizontal.list>.item>.header {
  font-family: Avenir-Heavy;
  font-size: 20px;
  color: #4b525a;
}

.ui.year.sgcard>.ui.horizontal.list>.item>.description {
  font-family: PingFang-SC-Regular;
  font-size: 14px;
  color: #9199a3;
}
