.ui.sgform {
  width: 917px;
  height: 708px;
  box-shadow: 0px 8px 7px rgba(52, 57, 61, 0.1);
  border-radius: 8px;
  position: relative;
}

.ui.sgform>.header {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 26px;
  color: #4b525a;
}

.ui.sgform>.close.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  color: #9199a3;
}
