
/*******************************
            Theme
*******************************/

@import (multiple) '../../site/globals/site.variables';

/*******************************
            Standard
*******************************/

/*--------------
      Item
---------------*/

.ui.sgheader {
    background-color: white;
    border-radius: @containerBorderRadius;
}

.ui.sgheader > div {
    padding: 20px;
    border-top: 1px solid #DBE1E6;
}

.ui.sgheader > div:first-child {
    border-top: none;
}

.ui.sgheader > .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui.sgheader > .search > .action {
    display: flex;
    align-items: center;
}

.ui.sgheader > .search > .action > .ui.button {
    background-color: #ffbd00;
	box-shadow: 0px 2px 11px 0px 
		rgba(255, 189, 0, 0.2);
    border-radius: 4px;
    // font-weight: 300;
    font-size: @fontBodySize;
    color: white;
    margin: 0;
}

/*--------------
      SG Search
---------------*/

.ui.sgsearch {
    
    font-size: @fontBodySize;

    display: flex;
    align-items: center;
}

.ui.sgsearch > .ui.input {
    padding: 0;
    padding-right: 5px;
    min-height: 40px;
}

.ui.sgsearch > .ui.input > input {
    color: #999999;
    border-radius: 4px;
    // font-weight: 300;
}

.ui.sgsearch > .ui.button {
    font-size: @fontBodySize;
    // font-weight: 300;
    width: 68px;
    height: 40px;
    padding: 0;
    margin: 0 5px;
    line-height: 38px;
    border-radius: 4px;
}

.ui.sgsearch > .ui.submit.button {
    background-color: @primaryColor;
    
    color: white;
}

.ui.sgsearch > .ui.submit.button:hover {
    opacity: 0.9;
}

.ui.sgsearch > .ui.reset.button {
    background-color: white;
    color: @fontTitleColor;
    border: solid 1px @borderColor;
}

.ui.sgsearch > .ui.reset.button:hover {
    color: @primaryColor;
    border: solid 1px @primaryColor;
}




/*--------------
      SG Filter
---------------*/

.ui.sgfilter {
    display: flex;
    align-items: center;

    & .ui.dropdown {
        font-size: @fontBodySize;

        & .item {
            font-size: @fontBodySize;

            &:hover {
                font-weight: unset;
            }
        }

        & .selected.item {
            font-weight: unset;
            color: @primaryColor;
        }
    }
}

.ui.sgfilter > div {
    margin: 0 5px;
}

.ui.sgfilter > div:first-child {
    margin-left: 0;
}

.ui.sgfilter > .ui.dropdown {
    border-radius: 4px;
}