@import (multiple) '../../site/globals/site.variables';

.ui.infor.modal {
  width: 48% !important;
  height: 708px;
  box-shadow: 0px 8px 7px rgba(52, 57, 61, 0.1);
  border-radius: 8px;
  position: relative;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-bottom: 30px solid #fff;
  border-top: 1px solid #fff;
}
.ui.infor.modal>.header {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 26px;
  color: #4b525a;
}

.ui.infor.modal>.close.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  color: #9199a3;
}

/************************
.ui.sgmodal>.ui.form
*************************/
.ui.infor.modal>.ui.form {
  margin: 0 auto;
  width: 48%;
}

/************************
    .select.field
*************************/
.ui.form>.select.field>label {
  font-size: 16px;
  color: #4b525a;
}

.select.field>.ui.dropdown {
  color: #4b525a;
  border-radius: 4px;
}

/************************
    .input.field
*************************/
.ui.form>.input.field>label {
  font-size: 16px;
  color: #4b525a;
}

.input.field>input {
  color: #4b525a;
  border-radius: 4px;
}

/************************
    .text.field
*************************/
.ui.form>.text.field>label {
  font-size: 16px;
  color: #4b525a;
}

.ui.form>.text.field>textarea {
  color: #4b525a;
  border-radius: 4px;
  min-height: 5em;
  height: 5em;
  max-height: 24em;
}

.ui.form>.large.text.field>textarea {
  color: #4b525a;
  border-radius: 4px;
  min-height: 10em;
  height: 5em;
  max-height: 24em;
}

/************************
    .check.field/.radio.field
*************************/
.ui.form>.radio.field>label,
.ui.form>.check.field>label {
  font-size: 16px;
  color: #4b525a;
  font-family: PingFang-SC-Regular;
}

.ui.form>.radio.field>.inline.fields>.field>.ui.checkbox>label,
.ui.form>.check.field>.inline.fields>.field>.ui.checkbox>label {
  font-size: 14px;
  font-family: PingFang-SC-Medium;
  color: #4b525a;

}


.ui.form>.radio.field>.inline.fields>.field>.ui.checkbox>input+label:after,
.ui.form>.check.field>.inline.fields>.field>.ui.checkbox>input+label:after {
  background: #00cddd;
}


.ui.form>.check.field>.inline.fields>.field>.ui.checkbox>input+label:after {
  color: white;
  border-radius: 4px;
}

/************************
    .image.field
*************************/
.ui.form>.image.field {
  width: 80px;
  height: 80px;
  background: #edf2f5;
  border-radius: 4px;
}

.ui.form>.image.field {
  display: flex;
  position: relative;
  font-size: 30px;
  color: #dbe1e6;
}

.ui.form>.image.field>img {
  width: 100%;
  border-radius: 4px;
}

.ui.form>.image.field>.icon.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  align-self: center;
  margin-left: -18px;
  margin-top: -12px;
}


/************************
    .dependent.field
*************************/
.ui.form>.dependent.field {
  float: left;
}

.ui.form>.dependent.field>label {
  font-size: 16px;
  color: #4b525a;
  font-family: PingFang-SC-Regular;
}

.ui.form>.dependent.field>.field {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
}

.ui.form>.dependent.field>.field>.selection.dropdown {
  width: 130px;
  color: #9199a3;
  font-size: 14px;
  text-align: center;
}

.ui.form>.dependent.field>.field {
  line-height: 35px;
  color: #9199a3;
}


/************************
    .attach.field
*************************/

.ui.form>.attach.field>label {
  font-size: 16px;
  color: #4b525a;
  font-family: PingFang-SC-Regular;
}

.ui.form>.attach.field>.field {
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap;
  align-items: center;
}

.ui.form>.attach.field>.field>.ui.dropdown {
  width: 130px;
  color: #9199a3;
  font-size: 14px;
}

.ui.form>.attach.field>.field>.ui.icon.label {
  border-radius: 14px;
  margin-left: 6px;
}

/************************
   post content
*************************/

.ui.form>.content>.attach.field>label {
  font-size: 16px;
  color: #4b525a;
  font-family: PingFang-SC-Regular;
}

.ui.form>.content>.attach.field>.field {
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap;
  align-items: center;
}

.ui.form>.content>.attach.field>.field>.ui.dropdown {
  width: 130px;
  color: #9199a3;
  font-size: 14px;
}

.ui.form>.content>.attach.field>.field>.ui.icon.label {
  border-radius: 14px;
  margin-left: 6px;
}

/************************
    .add.attach.field
*************************/
.add.field>.ui.label {
  background: #00cddd;
  color: #fff;
  margin-top: 10px;
}

/************************
    .toggle.field
*************************/
.toggle.field>label {
  font-size: 16px;
  color: #4b525a;
  font-family: PingFang-SC-Regular;
  padding-bottom: 3px;
}


.ui.form>.ui.error.message {
  width: 280px;
  z-index: 9999;
  background: #000;
  border-radius: 8px;
  opacity: 0.6;
  font-size: 16px;
  font-family: PingFang-SC-Regular;
  color: #fff;
}

.ui.form>.ui.error.message .list:not(.ui) li:before {
  display: none;
}



.ui.form>.detail.field>.inline.field>label {
  font-family: PingFang-SC-Regular;
  font-size: 16px;
  width: 90px;
  text-align-last: justify;
  text-align: justify;
  text-justify: distribute-all-lines;
  color: #4b525a;
  position: relative;
}

.ui.form>.detail.field>.inline.field>label:after {
  content: ":";
  position: absolute;
  right: -6px;
}

.ui.form>.detail.field>.inline.field>p {
  border-radius: 4px;
  width: 150px;
  font-size: 16px;
  color: #4b525a;
  padding: 5px;
  font-family: PingFang-SC-Regular;
}
